body {
  display: flex;
  justify-content: center;
}

h1 {
  width: auto;
  text-align: justify;
  margin: 0;
  background-color: #D32F2F;
  color: #FFFFFF;
  border-radius: 7px;
  padding: 5px 10px;
}

h2 {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

p {
  margin: 0;
  padding: 0;
  color: #212121;
  font-weight: bold;
}

input {
  border: 1.5px solid #BDBDBD;
  margin: 5px 0;
  background-color: #757575;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 7px;
}

input::placeholder {
  color: #757575;
}

input:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  border: 1.5px solid #BDBDBD;
  border-radius: 7px;
  overflow-y: scroll;
  height: 250px;
  background: #FFCDD2;
}

li {
  list-style: none;
  padding: 2px 3px;
  
}

li:nth-child(even) {
  background-color: #BDBDBD;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.main-board {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0 30px;
  background: #F44336;
  border-radius: 7px;
}

#display-scores,
#add-score {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

#displa-score-title {
  display: flex;
}

#displa-score-title h2,
#displa-score-title input,
#add-score h2,
#add-score input {
  margin: 5px;
}

#submit {
  width: min-content;
  align-self: flex-end;
  height: 31px;
}

.light-primary-color { 
  background: #FFCDD2; 
  color: #212121;
}